title = 'turn "your function" --into "a CLI app'
shell_cwd = "chmix"
slides = [
  { path = "slides/title.md", classes = ["title"] },
  { path = "versions/chmix_function.py", title = "I have a function...", runnable = false },
  { type = "shell", source = """
  cp ../versions/chmix_main.py ./chmix.py \\
     .\\
  && \\
  # HIDE_ABOVE \\
  uv run --with pandas --with httpx python -i chmix.py
  """, title = "Use it!", alt_screen=true, cwd="."
  },

  # Show it runs

  "slides/tasks.md",
  { path = "chmix/chmix.py", runnable = false, execute_before="cp ../versions/chmix_main.py ./chmix.py"},
  # Let's experiment with it

  "slides/uv.md",
  { type = "shell", source="uv init --app --author-from git", title="Create a package", run_once=false},
  { path = "chmix/pyproject.toml", title = "pyproject.toml", runnable = false },
  { path = "chmix/chmix.py", runnable = false, execute_before="cp ../versions/chmix_typer.py ./chmix.py"},

  # uv init
  # uv add
  { path = "chmix/pyproject.toml", title = "pyproject.toml", runnable = false },
  # Run it again => nothing
  # Last slide
  { source="# How do I get it to a completely different computer?"},
  { type="shell", source="git checkout chmix-0.0.2 -- ./chmix", title="Live coding has its limits..."},
  "pypi.md",
  { source = "Use uv", title="Build and publish the package", cwd="chmix"},
  { type="shell", source="docker exec -it uv-demo bash", alt_screen=true},


  { path = "slides/end.md", classes = ["title"] },

]
