title = 'turn "your function" --into "a CLI app" in 10 minutes'
shell_cwd = "chmix"

[[slides]]
path = "slides/title.md"
classes = ["title"]

[[slides]]
source = "## ...like it is not 201x anymore."

[[slides]]
path = "versions/chmix_function.py"
runnable = false

[[slides]]
execute_before = "cp ../versions/chmix_function.py ./chmix.py"
type = "shell"
source = "uv run --with pandas --with httpx python"
title = "Use it!"
alt_screen = true

# Show it runs
#
[[slides]]
execute_before = "cp ../versions/chmix_function.py ./chmix.py"
type = "shell"
source = "python chmix.py"
title = "However"
alt_screen = false

[[slides]]
execute_before = "rm -rf *"
cwd = "chmix"
source = """
# Goals

- define what it needs to run
- take the arguments from the command line
- provide a nice output
- distribute it to your friends
"""

[[slides]]
source = """
# Task 1: Create a Python package

- a structured directory with `pyproject.toml`
- necessary to specify the dependencies (heh)

Let's use **uv**.
"""

[[slides]]
type = "shell"
source = "uv init --app --author-from git --package --description 'Download weather forecast data from CHMI.'"
title = "Create a package using uv"

[[slides]]
path = "chmix/pyproject.toml"
title = "pyproject.toml"
runnable = false

[[slides]]
source = """
## Update the package

- set the license
- add the dependencies
- copy the actual function code
"""

# uv init
# uv add

[[slides]]
path = "chmix/pyproject.toml"
title = "pyproject.toml"
runnable = false

# Run it again => nothing
# Last slide

[[slides]]
source = "# How do I get it to a completely different computer?"

[[slides]]
type = "shell"
source = "git checkout chmix-0.0.2 -- ./chmix"
title = "Live coding has its limits..."

[[slides]]
path = "pypi.md"

[[slides]]
source = "Use uv"
title = "Build and publish the package"
cwd = "chmix"

[[slides]]
type = "shell"
source = "docker exec -it uv-demo bash"
alt_screen = true

[[slides]]
path = "slides/end.md"
classes = ["title"]
