title = 'turn "your function" --into "a CLI app'

slides = [
    "slides/title.md",
    {path = "slides/aladin_forecast.py", type="python", title="your function"},
    {type = "shell", content = "uv run --with httpx --with pandas python -i slides/aladin_forecast.py", alt_screen=true, title="Test it interactively"},

    # Last slide
    { title = "Thank you" }
]
