title = 'turn "your function" --into "a CLI app'
slides = [
  "slides/title.md",
  { path = "chmix.py", title = "I have a function..." },
  "slides/use_chmix.py",
  # Try to run it => import errors
  { title = "Enter uv" },
  # uv init
  # uv add
  # Run it again => nothing
  "slides/outline2.md",
  { title = "Enter typer" },
  "slides/outline3.md",
  # Last slide
  { title = "Thank you" },
]
